<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TOSOT_Praktika.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="TOSOT" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VETA-PC;initial catalog=TOSOT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <TOSOT_Praktika.Properties.Settings>
      <setting name="TextBoxlastname" serializeAs="String">
        <value />
      </setting>
      <setting name="TextBoxfirstname" serializeAs="String">
        <value />
      </setting>
      <setting name="TextBoxmiddlename" serializeAs="String">
        <value />
      </setting>
      <setting name="datepickerbirthday" serializeAs="String">
        <value />
      </setting>
      <setting name="ComboBoxlistfirm" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TextBoxposition" serializeAs="String">
        <value />
      </setting>
      <setting name="ComboBoxlisteducation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TextBoxnumberdiploma" serializeAs="String">
        <value />
      </setting>
      <setting name="DatePickerBeginLearning" serializeAs="String">
        <value />
      </setting>
      <setting name="DatePickerEndLearning" serializeAs="String">
        <value />
      </setting>
      <setting name="TextBoxNumberSertificate" serializeAs="String">
        <value />
      </setting>
      <setting name="ComboBoxListLearningProgram" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TextBoxYearLearning" serializeAs="String">
        <value />
      </setting>
      <setting name="TextBoxNumberGroup" serializeAs="String">
        <value />
      </setting>
      <setting name="TextBoxStudyProgram" serializeAs="String">
        <value />
      </setting>
      <setting name="DatePickerDateFilling" serializeAs="String">
        <value />
      </setting>
      <setting name="ComboBoxListWorker" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ID01" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID02" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID03" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID04" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID05" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID06" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID07" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID08" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID09" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID10" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID11" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID12" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID13" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ID14" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DateNow" serializeAs="String">
        <value>2020</value>
      </setting>
      <setting name="ID15" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="bootPath" serializeAs="String">
        <value />
      </setting>
    </TOSOT_Praktika.Properties.Settings>
  </userSettings>
</configuration>