USE [master]
GO
/****** Object:  Database [TOSOT]    Script Date: 20.05.2020 0:02:23 ******/
CREATE DATABASE [TOSOT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TOSOT', FILENAME = N'D:\User\Pictures\Ветка\Лизина инфа\с ноутбука\коды\TOSOT.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TOSOT_log', FILENAME = N'D:\User\Pictures\Ветка\Лизина инфа\с ноутбука\коды\TOSOT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TOSOT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TOSOT]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 20.05.2020 0:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[ID_Course] [int] IDENTITY(1,1) NOT NULL,
	[ID_Group] [int] NOT NULL,
	[ID_Training_program] [int] NOT NULL,
	[ID_Worler] [nchar](10) NULL,
	[ID_Teacher] [int] NOT NULL,
 CONSTRAINT [PK_Course_1] PRIMARY KEY CLUSTERED 
(
	[ID_Course] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Firm]    Script Date: 20.05.2020 0:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firm](
	[ID_Firm] [int] IDENTITY(1,1) NOT NULL,
	[Name_Firm] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Firm] PRIMARY KEY CLUSTERED 
(
	[ID_Firm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningProgram]    Script Date: 20.05.2020 0:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningProgram](
	[ID_LearningProgram] [int] IDENTITY(14,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[KeyOfProgram] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LearningProgram] PRIMARY KEY CLUSTERED 
(
	[ID_LearningProgram] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationCertificates]    Script Date: 20.05.2020 0:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationCertificates](
	[IdCertificate] [int] IDENTITY(1,1) NOT NULL,
	[ProtocolNumber] [nvarchar](50) NOT NULL,
	[IdWorker] [int] NOT NULL,
	[DateCreate] [date] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RegistrationCertificates] PRIMARY KEY CLUSTERED 
(
	[IdCertificate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 20.05.2020 0:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID_Student] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Post] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[Education] [nvarchar](50) NULL,
	[Number_of_certificate] [nvarchar](50) NULL,
	[ID_Training_program] [int] NULL,
	[ID_Firm] [int] NULL,
	[Student_photo] [image] NULL,
	[BeginLearning] [date] NULL,
	[EndLearning] [date] NULL,
	[NimberDiploma] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student_1] PRIMARY KEY CLUSTERED 
(
	[ID_Student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingProgram]    Script Date: 20.05.2020 0:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingProgram](
	[ID_Training_program] [int] IDENTITY(1,1) NOT NULL,
	[Name_Program] [nvarchar](50) NOT NULL,
	[Duration] [int] NOT NULL,
 CONSTRAINT [PK_Training_program] PRIMARY KEY CLUSTERED 
(
	[ID_Training_program] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 20.05.2020 0:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[ID_Worker] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Worker] PRIMARY KEY CLUSTERED 
(
	[ID_Worker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_TrainingProgram] FOREIGN KEY([ID_Training_program])
REFERENCES [dbo].[TrainingProgram] ([ID_Training_program])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_TrainingProgram]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Worker] FOREIGN KEY([ID_Teacher])
REFERENCES [dbo].[Worker] ([ID_Worker])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Worker]
GO
ALTER TABLE [dbo].[RegistrationCertificates]  WITH CHECK ADD  CONSTRAINT [FK_RegistrationCertificates_Worker] FOREIGN KEY([IdWorker])
REFERENCES [dbo].[Worker] ([ID_Worker])
GO
ALTER TABLE [dbo].[RegistrationCertificates] CHECK CONSTRAINT [FK_RegistrationCertificates_Worker]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Firm] FOREIGN KEY([ID_Firm])
REFERENCES [dbo].[Firm] ([ID_Firm])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Firm]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_TrainingProgram] FOREIGN KEY([ID_Training_program])
REFERENCES [dbo].[TrainingProgram] ([ID_Training_program])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_TrainingProgram]
GO
USE [master]
GO
